// Navigation Styles here

.nav-wrapper {
    .flex(space-between, center);
    width: 100%;
    margin: 4% auto 0;
    padding-bottom: 3%;
    .border();

    @media @phone {
        flex-direction: column;
    }

    .nav {
        .flex(space-around, center);
        width: 50%;

        @media @phone {
            width: 100%;
            margin-top: 2%;
        }
    }

    .nav a {
        text-decoration: none;
        color: @shark;
        font-size: 2rem;
        padding-right: 2%;

        @media @phone {
            font-size: 1.5rem;
        }
    }
}

